
.data_delete{
	text-align: center;
    margin-top: 40px;
}

.data_delete h2{
	font-size: 12pt;
    
}
.data_delete span{
	font-weight: bold;
	color: #4f72d4;
	font-size: 12pt;
    
}

.btn_cancel, .btn_ok{
    width: 124px;
    background: #e66262;
    color: #fff;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    border: 0;
}

.btn_cancel{
    background-color:#42b343;
}

.data_delete form{
    background: initial;
    margin: auto;
    padding: 20px 50px;
    border: 0;
}